header {
	text-align: center;
	padding: 0.5rem 0 5rem;
	font-size: 1.25rem;
	position: sticky;
	top: 0px;
}

body {
	margin: 0;
	text-align: center;
	width:100%;
}

h1,h2,h3 {
	margin-left: 4%;
	margin-right: 4%;
}