body {
	margin: 0;
  text-align: center;
  background: url("image/bg.jpg");
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,h2,p{
  text-align: center;
	margin-left: 4%;
	margin-right: 4%;
}

code {
  text-align: left;
  position: relative;
  left: 10vw;
  margin-left: 4%;
	margin-right: 4%;
  background-color: rgb(63, 63, 63) !important;
  border-radius: 7px;
  width: 63vw;
  padding: 8px !important;
  padding-left: 25px !important;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.title {
  position: relative;
  top: 45px;
  margin-bottom: 100px;
}

.shadow {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 3px 5px;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: hidden;
    border-radius: 5px;
}

.block {
  text-align: center;
  align-content: start;
}

.summary {
  width:200px;
  border-radius: 15px;
  border: solid 5px black;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.summary h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.summary ul li {
  margin-left: 10px;
  margin-top: 5px;
}

.summary ul li a {
  font-size: 17px;
}

#introduction {
  display: inline-block;
  vertical-align: top;
}

#introduction h2{
  text-align: left;
  margin-top: 1vw;
}

#introduction p {
  text-align: left;
  width: 50vw;
}

.text {
  width : 65vw;
  text-align: left;
  position: relative;
  left: 10vw;
  margin-top: 25px;
}

#code {
  padding-bottom: 15px;
}

.link {
  padding-top: 5px;
  padding-bottom: 20px;
  display: inline-block;
}

.left {
  padding-right: 20px;
}

.right {
  padding-left: 20px;
}

.no-underligne {
  text-decoration: none;
  color: black;
}